@import "./fonts";
@import "./colors";

.footer {
  margin-top: auto;
  background-color: $primary;
  //   display: none;
  padding: 4rem 5rem 3rem;
  display: flex;
  justify-content: space-between;
}

.left {
  width: 850px;
  //   border: 1px solid red;
  hr {
    border: none;
    // border-style: solid;
    border-top: 1px solid $white;
  }
}

.leftTop {
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 1rem;

  div {
    &:last-of-type {
      display: flex;
      gap: 0.6rem;
      flex-direction: column;
    }
  }

  p {
    color: $white;
    font-size: 24px;
    margin: 0;
    line-height: 29px;
    font-weight: 600;
    font-family: $inter;
  }
}

.leftBottom {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  gap: 3rem;

  p {
    color: $white;
    margin: 0;
    line-height: 18.15px;
    font-size: 15px;
    font-family: $inter;
    margin-bottom: 20px;
  }
  .title {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    margin-bottom: 1.5rem;
  }
}

.innerRight {
  div {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 13px;
    p {
      margin: 0;
    }
  }
}

.right {
  display: flex;
  flex-direction: column;
  color: $white;
  .title {
    font-size: 24px;
    font-weight: 600;
    font-family: $inter;
    margin-bottom: 0;
    line-height: 29px;
  }
  p {
    margin: 0;
  }
}

.form {
  display: flex;
  flex-direction: column;
  .label {
    display: flex;
    gap: 0.6rem;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    font-family: $inter;
    line-height: 21.78px;
    margin: 15px 0 4px;
  }
}

// .input {
//   height: 30px !important;
//   input {
//     height: 40px !important;
//   }
// }
