.avatar {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.details {
  display: grid;
  grid-template-columns: 125px auto;
  padding: 10px 20px;
  row-gap: 10px;
  font-size: 1.03rem;
  p {
    margin: 0;
    // border-bottom: 0.5px solid hsla(0, 0%, 50%, 0.15);
    display: inline-block;
    // width: max-content;
  }
}
