.container {
  padding: 10px 30px;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  // border: 1px solid red;
}

.content {
  max-width: 750px;
  font-size: 1.1rem;
  line-height: 1.4em;
}

.horizontal {
  display: flex;
  justify-content: space-around;
}
