@import "./colors";

.container {
  //   height: 300px;
  width: 100%;
  margin: auto auto;
  // display: flex;
  // justify-content: center;
}

.innerContainer {
  border: 12px solid $primary !important;
  border-right: 6px;
  height: 300px;
  display: flex;
  align-items: center;
}
.docImage {
  border: 12px solid $primary;
  border-left: 6px;
}

.row1 {
  display: flex;
  justify-content: center;
  //   align-items: centers;
  //   border: 1px solid red;
}
.row2 {
  display: flex;
}
